body {
  background-color: #646067;
}

.resume-holder section {
  margin: 1.2em auto;
  background-color: #f8f8ff;
  border: 2px solid #7F857B;
  padding: 1.2em .8em;
  border-radius: .35em;
}

.resume-holder section article {
  margin: .4em .5em;
}
.resume-holder > section:before {
  font-size: 1.8em;
}
.work:before {
  content: 'Work Experience';
}

.job > ul:before {
  content: 'Highlights';
}

.education:before {
  content: 'Education';
}

.school > ul:before {
  content: 'Extracarriculars';
}


h1 {
  font-size: 2.074em;
 }

h2 {
  font-size: 1.728em;
  margin-bottom: .35em;
 }

h3 {
  font-size: 1.44em;
  margin-bottom: .2em;
 }

h4 {
  font-size: 1.2em;
  margin-bottom: .2em;
 }

 h6 {
   font-size: 1.05em;
 }

p {
   line-height: 1.45em;
   margin: .75em 0;
 }

 .location > p {
   margin: 0;
 }

ul {
  margin: .05em
}

li:before {
  content: '-';
  margin: 0 .3em;
}


@media screen and (min-width: 1400px) {
  html {
    font-size: 1.25em;
   }
}

@media screen and (min-width: 500px) {
  p {
    line-height: 1.25em;
  }

  .resume-holder section {
    padding: 2em 1.8em;
  }

  .resume-holder section article {
    margin: .9em 1em;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 1.05em;
  }
}
