html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: text-top;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}

html {
  font-size: 1em;
  font-family: 'Open sans', sans-serif;
}

.resume-holder {
  width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h6, .resume-holder > section:before {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.profiles a {
  display: inline;
}

.profiles a:after {
	content: "\A";
  white-space: pre;
}

i {
  margin-right: .2em;
}

.style-change {
  position: fixed;
  top: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .resume-holder {
    width: 95%;
    margin: 0 auto;
  }
}
